{% extends "base.html.twig" %}


{% block body %}
    <div class="w-4/5 m-auto text-center">
        <h1 class="text-6xl block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100">
            Book catalog
        </h1>
    </div>

    <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
        {% for book in books %}
            {% include "presets/bookList.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}